#ifndef IOP_CONFIGURATION_H_
#define IOP_CONFIGURATION_H_

#include <static_string.hpp>
#include <cstdint>
#include <log.hpp>
#include <option.hpp>

/// Minimum log level to print a message (if serial is enabled)
const enum LogLevel logLevel = INFO;

const uint8_t soilTemperaturePin = D5;
const uint8_t airTempAndHumidityPin = D6;
const uint8_t soilResistivityPowerPin = D7;
const uint8_t factoryResetButton = D1;

/// Version of DHT (Digital Humidity and Temperature) sensor. (ex: DHT11 or DHT21 or DHT22...)
const uint8_t dhtVersion = 22; // DHT22

/// Time between measurements
const unsigned long interval = 60 * 1000;

static const Option<StaticString> host("https://iop-monitor-server.tk:4001");

/// You don't need to fill the fields below, they may actually be counter-productive

static const Option<StaticString> wifiNetworkName;
static const Option<StaticString> wifiPassword;

static const Option<StaticString> iopEmail;
static const Option<StaticString> iopPassword;

#endif
