#ifndef CREDENTIALS_H_
#define CREDENTIALS_H_

#include <Arduino.h>

const String host = "";

const String wifiNetworkName = "";
const String wifiPassword = "";

const String iopEmail = "";
const String iopPassword = "";
const String iopPlantId = "";

#endif
